* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.7rem;
    line-height: 1.5;

}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}


p {
    padding: 0 15%;
    color: #8f8f8f;
}





.container-fluid {
    padding: 3% 15% 7%;
}



/* All headings */



#title {
    color: white;
    background-color: #ff4c68;
}



/* Navigation Bar */
.navbar {
    padding: 0 0 5rem;

}


.navbar-brand {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;

}

nav ul li {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 15px;
}



/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    border-radius: .3rem;
}


/* Title Image */
.title-img {


    transform: rotate(25deg);
    margin-left: .5rem;
    position: absolute;
    max-width: 60%;
    




}



/* Features Section */
#features {
    position: relative;
   
    background-color: white;
    padding: 7% 3%;
    text-align: center;
}

.feature i {
    font-size: 7rem;
    color: #ef8172;
    padding: 0 0 2rem 0;
}

.feature i:hover {
    color: #ff4c68;
}

.feature h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.feature p {
    padding: 0 15%;
    color: #8f8f8f;
}


/* Testimonials Section */

#testimonials {
    padding: 7% 3%;
    color: white;
    text-align: center;
    background-color: #ef8172;

}

#testimonials h2 {
    line-height: 1.5;
    padding: 1rem 20%;
    font-size: 3rem;
    font-weight: 700;
}


#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 2rem;
}



#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}


#press img {
    width: 15%;
    margin: 20px 20px 50px;
}



#pricing {
    padding: 7% 15%;
    text-align: center;
}

.price-button {
    width: 100%;

}

.price-plan {
    padding: 3% 2%;
}



#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;

}




#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}


#footer i {
    padding: 1rem 1rem;
}


/* Adding Media Queries for Responsiveness */

@media (max-width:1133px) and (min-width:993px){
    .title-img {
    
            max-width: 30%;
            padding-left: 4rem;
    
        }
}


@media (max-width:992px){
    .title-img{
    
        position: static;
        transform: rotate(0deg);
        
    }

    #title {
        text-align: center;
    }
}

@media (max-width:576px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width:376px) {
    h2{
        font-size: 2rem;
    
    }
}