* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.7rem;
    line-height: 1.5;

}


.container-fluid {
    padding: 3% 15%;
}


#title {
    color: white;
    background-color: #ff4c68;
}



/* Navigation Bar */
.navbar {
    padding: 0 0 5rem;

}


.navbar-brand {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;

}

nav ul li {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 15px;
}



/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    border-radius: .3rem;
}


/* Title Image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 4rem;
}



/* Features Section */
.feature {
    padding: 7% 3%;
    text-align: center;
}

.feature i {
    font-size: 7rem;
    color: #ef8172;
    padding: 0 0 2rem 0;
}

.feature i:hover{
    color: #ff4c68;
}

.feature h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.feature p{
    padding: 0 15%;
    color: #8f8f8f;
}


/* Testimonials Section */

#testimonials {
    padding: 7% 3%;
    color: white;
    text-align: center;
    background-color: #ef8172;

} 

#testimonials h2 {
    line-height: 1.5;
    padding: 1rem 20%;
    font-size: 3rem;
    font-weight: 700;
}


#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 2rem;
}



#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}


#press img {
    width: 15%;
    margin: 20px 20px 50px ;
}